.chat{
    border: 2px solid black;
    height: 100%;
    display: flex;
}
.chat__main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat__users{
    background-color: black;
    color: white;
    border-right: 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 200px;
}

.chat__messages{
    overflow: scroll;
    height: 100%;
    /*background-color: #03050f10;*/
    background: url('/public/OJ1Wv26g4VM.jpg') no-repeat;
    background-size: cover;
}

.chat__messages::-webkit-scrollbar{
    display: none;
}

.chat__action{
    height: 50px;
}

.chat__action input, .chat__action button{
    height: 100%;
}

.chat__action button {
    width: 15%;
}

.chat__action input{
    width: 85%;
    padding-left: 5px;
}



