.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.auth{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.auth__input{
    height: 50px;
    font-size: 20px;
    border: 2px black solid;
    border-radius: 2px;
    text-align: center;
}

.auth input::-webkit-outer-spin-button,
.auth input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.error{
    border-color: red;
}

.auth__error-message{
    color: red;
}

.auth button{
    height: 50px;
    background-color: 	black;
    color: white;
    font-size: 20px;
}

.container h2{
    margin-bottom: 5px;
}